body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  /* Header 1 */
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: #fff;
}
.section-title {
  /* Header 2 */
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
h3 {
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:active {
  color: #4d5ae5;
  text-decoration: underline;
}
.menu .link,
.contact-list,
.logo {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-top {
  margin-right: 76px;
}
.top-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.menu .studio-link {
  position: relative;
  color: #404bbf;
}
.studio-link::after {
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  position: absolute;
  content: "";
}
.menu {
  display: flex;
  gap: 40px;
}
.menu:last-child {
  margin-right: 0;
}
.contact {
  /* Body */

  font-style: normal;
}
.contact-list {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-list:hover,
.contact-list:focus {
  /* Body */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contact-title {
  display: flex;
  gap: 40px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.team-sect,
.portfolio-sect,
.benefits-sect {
  padding: 120px 0;
}
.top-sect {
  padding: 188px 0;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/top-sect-background/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.center-title {
  max-width: 496px;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}
.main-button {
  /* Button Text */
  font-family: inherit;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  gap: 10px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benef-thumb {
  display: flex;
}
.benefits-list {
  display: flex;
  gap: 24px;
  width: 1128px;
}
.benef-item {
  width: calc((100% - 24px * 3) / 4);
}
.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  fill: #2e2f42;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.antenna,
.clock,
.diagram {
  fill: "#2e2f42";
}
.benefits-name {
  margin-bottom: 8px;
}

.menu-item {
  /* Body Medium */
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}
.menu-item:hover,
.menu-item:focus {
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #404bbf;
}

.team-sect {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list:hover .team-card {
  background: #fff;
}
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-list-item:hover .social-list-link,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-style-thumb {
  padding: 32px 0;
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-name {
  text-align: left;
  margin-bottom: 8px;
  align-self: stretch;
}
.portfolio-card {
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}
.portf-list:hover .portfolio-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-overlay {
  /* Body */
  font-family: "Roboto", sans-serif;
  position: absolute;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
}
.portfolio-card:hover .text-overlay {
  transform: translateY(0%);
}
.app-style-thumb {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text {
  align-self: stretch;
}
.bottom-section {
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-text-container {
  margin-right: 120px;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.bottom-text {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  width: 264px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.bottom-thumb {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.bottom-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.social-media-title {
  /* Body Medium */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #fff;
}
.social-media-bottom {
  margin-right: 80px;
}
.social-media-list {
  display: flex;
  gap: 16px;
}
.social-media-item:hover .social-list-link,
.media-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background: #fcfcfc;
}
.modal-close-btn {
  position: absolute;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

.leave-contacts-text {
  text-align: center;
  width: 360px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}
.leave-contacts-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.leave-contacts-input:focus {
  border-color: #4d5ae5;
}
.leave-contacts-input:focus + .icon-in-input {
  fill: #4d5ae5;
}

.icon-in-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-and-icon {
  position: relative;
  margin-bottom: 8px;
}
.leave-contacts-field-label {
  /* Small Text */
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
}
.leave-contacts-field-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-contacts-field-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.leave-contacts-field-comment:focus {
  border-color: #4d5ae5;
}
.leave-contacts-checkbox-form {
  margin-bottom: 24px;
}
.leave-contacts-checkbox-label {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.privacy-policy {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.leave-contacts-checkbox:checked
  + .leave-contacts-checkbox-label
  > .privacy-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.leave-contacts-checkbox:focus
  + .leave-contacts-checkbox-label
  > .privacy-own-checkbox {
  border: 1px solid #4d5ae5;
}

.checkbox-svg {
  opacity: 0;
}
.leave-contacts-checkbox:checked
  + .leave-contacts-checkbox-label
  .checkbox-svg {
  opacity: 1;
}
.leave-contacts-send-btn {
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  gap: 10px;
  padding: 16px 32px;
  min-width: 169px;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-contacts-send-btn:hover,
.leave-contacts-send-btn:focus {
  background: #404bbf;
  outline: 0 solid transparent;
}
.footer-subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-subscribe-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-subscribe-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 24px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  outline: 0px solid transparent;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-form-input:hover,
.footer-subscribe-form-input:focus {
  border-color: #4d5ae5;
}
.footer-subscribe-form-input::placeholder {
  color: #fff;
}
.subscribe-btn {
  display: inline-flex;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
  outline: 0 solid transparent;
}
.subscribe-icon {
  fill: #fff;
}
